<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
                <binding name="BasicHttpBinding_IExample" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.47:8888/wcf/example/helloworldservice"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorld"
                contract="ServiceReference1.IHelloWorld" name="BasicHttpBinding_IHelloWorld" />
            <endpoint address="http://192.168.0.47:8888/wcf/example/helloworldservice"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExample"
                contract="ServiceReference2.IExample" name="BasicHttpBinding_IExample" />
        </client>
    </system.serviceModel>
</configuration>