<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="_1104_오후_실습.CExample"
               behaviorConfiguration="HelloWorldService">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.47:8888/wcf/example/helloworldservice"/>
          </baseAddresses>
        </host>
        <endpoint contract="_1104_오후_실습.IExample"
                  address=""
                  binding ="basicHttpBinding"
                  />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HelloWorldService">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>